{
    "check-coverage": true,
    "lines": 90,
    "statements": 90,
    "functions": 90,
    "branches": 90,
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "**/*.spec.ts",
        "src/service/util.ts",
        "src/service/report/health.ts",
        "src/service/report/telemetry.ts",
        "src/service/transaction/returnOrder.ts"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "all": true
}